* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 120%;
}

html {
  scroll-padding-top: 100px;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  height: 128px;
  width: 100%;
  background-color: rgba(78, 164, 135, 1);
  position: fixed;
  touch-action: 0px;
  z-index: 3;
}

.header > a {
  margin-left: 146px;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: 72px;
  padding-left: 102px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav_text {
  position: relative;
  display: inline-block;
}

.hover-underline {
  display: block;
  position: absolute;
  opacity: 0;
  bottom: 46px;
  bottom: -4px;
  left: -5px;
}

.nav_text:hover .hover-underline {
  opacity: 1;
}

.nav-bar a:active {
  color: rgb(241, 201, 83);
}

.nav-bar a:active > .hover-underline {
  display: none;
}

h4 {
  font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
  font-weight: 600;
  color: rgba(78, 164, 135, 1);
}

h1 {
  font-size: clamp(2rem, 4vw + 1rem, 4rem);
  color: rgba(241, 201, 83, 1);
}

.landing-section-articelone {
  padding: 208px 120px 80px 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-section {
  justify-content: space-between;
  width: 100%;
  display: flex;
  gap: 15px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.headline_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headline_text > p {
  font-size: 2rem;
  color: rgba(84, 55, 13, 1);
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
  padding: 16px;
  width: 300px;

}

.author > img {
  margin-bottom: 16px;
  max-width: 120px;
  border-radius: 60px;
}

.author > h6 {
  font-size: 1.125rem;
  color: rgba(84, 55, 13, 1);
  text-align: center;
}

.text_author {
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba(84, 55, 13, 1);
}

.author > p {
  color: rgba(84, 55, 13, 1);
  padding-top: 12px;
}

.info_block_one {
  display: flex;
  gap: 32px;
}

.info_block_two {
  display: flex;
  gap: 32px;
}

.infos {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.info_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.info_block > p {
  color: rgba(84, 55, 13, 1);
}

.calender > img {
  width: 16px;
  height: 18px;
}

.eyeglasses > img {
  width: 20px;
  height: 7px;
}

.calender > img {
  width: 20px;
  height: 14px;
}

.calender > img {
  width: 16px;
  height: 18px;
}

input[type="radio"] {
  appearance: none;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h5 {
  font-size: 2rem;
  margin-top: 88px;
  color: rgba(84, 55, 13, 1);
}

.slider_b {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  margin: 64px 0px 88px -65px;
}

.slider_b_elemnet {
  z-index: 1;
  max-width: 300px;
  min-width: 200px;
  height: 100%;
  margin-right: -100px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
  transform: perspective(700px) rotateY(20deg) translateX(0px) scaleY(1);
  transform-origin: 50% 50%;
  transition: all 300ms ease-in-out;
}

.slider_b_elemnet > img {
  display: flex;
  object-fit: cover;
  object-position: -161px 0px;
  height: 100%;
  width: 100%;
}

.beach4 > img {
  object-position: -210px 0px;
}

.beach3 > img {
  object-position: -30px 0px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 88px;
}

.article_text,
ol {
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 1);
}

.list_beach p {
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 40px;
}

.text_span {
  font-weight: 700;
}

.articles_one {
  width: 100%;
}

.list_beach {
  max-width: 1000px;
}

.beach_tipps {
  height: auto;
}

.beach_tipps > img {
  position: relative;
  margin-top: -40px;
  right: 60px;
  top: 45px;
}

.beach_tipps ol {
  max-width: 1000px;
  padding: 26px 16px 24px 46px;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
}

.articles_two {
  width: 100%;
}

.share_it {
  background-image: url(./assets/icons/arrowyellow.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  gap: 48px;
}

.share_it > p {
  font-size: 1.5rem;
  color: rgba(84, 55, 13, 1);
  font-weight: 500;
  text-align: center;
  font-family: "Arima";
}

input[type="submit"] {
  background-image: url(./assets/icons/shareyellow.svg);
  background-repeat: no-repeat;
  background-position: left 20px center;
  padding: 10px 24px 10px 60px;
  border-radius: 40px;
  width: 158px;
  background-color: rgba(78, 164, 135);
  color: rgba(241, 201, 83, 1);
  font-family: "Arima";
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5%;
  border: 0;
}

.footer {
  height: 152px;
  background-color: rgba(78, 164, 135, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}

.copyright {
  display: flex;
  align-items: center;
  width: 155px;
  color: white;
  gap: 4px;
  font-size: 18px;
}

.copyright > img {
  height: 20px;
}

.left-footer {
  display: flex;
  ;
  align-items: center;
  gap: 72px;
}

.links_footer_left {
  display: flex;
  gap: 72px;
}

.links_footer_left > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.right-footer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.right-footer > a {
  display: flex;
  align-items: center;
}

.nav_mobile {
  display: none;
}

@media screen and (min-width: 1440px) {
  .landing-section {
    padding: 0px calc(50% - 720px);
  }

  .header {
    padding: 0px calc(50% - 720px);
  }

  main {
    padding: 0px calc(50% - 720px);
  }


  .footer {
    padding: 0px calc(50% - 720px);
  }

  .header > a {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .landing-section {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .slider_b {
    max-width: 100%;
    height: 300px;
  }

  .beach5 > img {
    object-position: -100px 0px;
  }

  .beach1 > img {
    object-position: -100px 0px;
  }

  .beach3 > img {
    object-position: -100px 0px;
  }

  .beach2 > img {
    object-position: -100px 0px;
  }

  .beach4 > img {
    object-position: -150px 0px;
  }

  .headline_text > p {
    font-size: 1.4rem;
  }

  .author > p {
    text-align: center;
  }

  .landing-section-articelone {
    padding: 208px 80px 80px 80px;
  }

  .footer {
    padding: 0px 100px;
  }

  .footer {
    height: 140px;
  }

  .left-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 8px;
  }

  .left-footer a,
  p {
    font-size: 1rem;
  }

  .links_footer_left {
    flex-direction: column;
    gap: 8px;
  }

  .right-footer {
    padding-top: 37px;
  }
}

@media screen and (min-width: 870px) {

  .slider_b_elemnet:hover {
    transform: perspective(600px) rotateY(0deg) translateX(0px) scaleY(1.1) scaleX(1.1);
    margin-left: 140px;
    margin-right: 40px;
    z-index: 2;
  }

  .slider_b_elemnet:hover ~ .slider_b_elemnet {
    transform: perspective(600px) rotateY(-20deg) translateX(0px) scaley(1);
  }
}

@media screen and (max-width: 870px) {


  .landing-section-articelone {
    padding: 150px 60px 80px 60px;
  }

  .headline_text > p {
    font-size: 1.125rem;
  }

  .headline {
    gap: 24px;
  }

  .footer {
    padding: 0px 60px;
  }

  .slider_a {
    z-index: 1;
    position: relative;
    width: 440px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }

  .slider_a input {
    z-index: 2;
    margin: 8px;
  }

  input[type="radio"] {
    background-color: rgba(78, 164, 135, 0.3);
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    gap: 8px;
    cursor: pointer;
  }

  input[type="radio"]:checked {
    width: 40px;
    border-radius: 50px;
    background-color: rgba(78, 164, 135, 1);
  }

  .slider_b {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
    margin: 0px 0px 0px 0px;
    transition: all 255ms ease-in-out;
    position: absolute;
    gap: 10px;
    padding-bottom: 40px;
  }

  .slider_b_elemnet {
    z-index: 1;
    width: 200px;
    height: 300px;
    margin-right: 0;
    border-radius: 16px;
    overflow: hidden;
    transform: perspective(700px) rotateY(0deg);
    transform-origin: center;
    box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
  }

  /* Bild Position */

  .slider_a input[value="one"]:checked ~ .slider_b {
    transform: translateX(400px);
  }

  .slider_a input[value="two"]:checked ~ .slider_b {
    transform: translateX(200px);
  }

  .slider_a input[value="three"]:checked ~ .slider_b {
    transform: translateX(0px);
  }

  .slider_a input[value="four"]:checked ~ .slider_b {
    transform: translateX(-200px);
  }

  .slider_a input[value="five"]:checked ~ .slider_b {
    transform: translateX(-400px);
  }

  /* Bild 1 */

  .slider_a input[value="one"]:checked ~ .slider_b > .beach4 {
    transform: perspective(700px) rotateY(0deg) scale(1.15);
  }

  .slider_a input[value="one"]:checked ~ .slider_b > .beach2 {
    transform: perspective(700px) rotateY(-20deg) scale(0.9);
  }

  /* Bild 2 */

  .slider_a input[value="two"]:checked ~ .slider_b > .beach4 {
    transform: perspective(700px) rotateY(20deg) scale(0.9);
  }

  .slider_a input[value="two"]:checked ~ .slider_b > .beach2 {
    transform: perspective(700px) rotateY(0deg) scale(1.15);
  }

  .slider_a input[value="two"]:checked ~ .slider_b > .beach3 {
    transform: perspective(700px) rotateY(-20deg) scale(0.9);
  }

  /* Bild 3 */

  .slider_a input[value="three"]:checked ~ .slider_b > .beach2 {
    transform: perspective(700px) rotateY(20deg) scale(0.9);
  }

  .slider_a input[value="three"]:checked ~ .slider_b > .beach3 {
    transform: perspective(700px) rotateY(0deg) scale(1.15);
  }

  .slider_a input[value="three"]:checked ~ .slider_b > .beach1 {
    transform: perspective(700px) rotateY(-20deg) scale(0.9);
  }

  /* Bild 4 */

  .slider_a input[value="four"]:checked ~ .slider_b > .beach3 {
    transform: perspective(700px) rotateY(20deg) scale(0.9);
  }

  .slider_a input[value="four"]:checked ~ .slider_b > .beach1 {
    transform: perspective(700px) rotateY(0deg) scale(1.15);
  }

  .slider_a input[value="four"]:checked ~ .slider_b > .beach5 {
    transform: perspective(700px) rotateY(-20deg) scale(0.9);
  }

  /* Bild 5 */

  .slider_a input[value="five"]:checked ~ .slider_b > .beach1 {
    transform: perspective(700px) rotateY(20deg) scale(0.9);
  }

  .slider_a input[value="five"]:checked ~ .slider_b > .beach5 {
    transform: perspective(700px) rotateY(0deg) scale(1.15);
  }

  .beach5 > img {
    object-position: -100px 0px;
  }

  .beach1 > img {
    object-position: -100px 0px;
  }

  .beach3 > img {
    object-position: -100px 0px;
  }

  .beach2 > img {
    object-position: -100px 0px;
  }

  .beach4 > img {
    object-position: -150px 0px;
  }

  .articles {
    padding-top: 40px;
  }

  .beach_tipps > img {
    right: 30px;
    top: 30px;
  }
}

@media screen and (max-width: 750px) {

  .infos {
    flex-direction: column;
    gap: 16px;
  }

  .info_block_one {
    gap: 5px;
  }

  .info_block_two {
    gap: 19px;
  }

  .nav-bar {
    display: none;
  }

  .header {
    height: 70px;
    justify-content: center;
    position: absolute;
  }

  .header > a {
    margin-left: 0px;
  }

  .header > a > img {
    width: 56px;
  }

  .footer {
    margin-bottom: 88px;
  }

  .nav_mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 88px;
    width: 100%;
    background-color: rgba(241, 201, 83, 1);
    position: fixed;
    bottom: 0px;
    z-index: 10;
  }
}

@media screen and (max-width: 700px) {

  .landing-section-articelone {
    padding: 94px 15px 80px 15px;
  }

  h5 {
    font-size: 1.25rem;
    margin-top: 40px;
  }

  .share_it {
    background-image: url(./assets/icons/yellowarrowsmall.svg);
    background-position-x: 70px;
    background-position-y: 70px;
  }

  .footer {
    padding: 0px 15px;
  }

  .articles {
    gap: 32px;
  }

  .beach_tipps > img {
    right: 0px;
    top: 30px;
  }
}

@media screen and (max-width: 500px) {

  .share_it {
    background-position-x: 25px;
    background-position-y: 50px;

  }

  .slider_a {
    width: 300px;
  }

  .articles p {
    font-size: 1rem;
    color: rgba(84, 55, 13, 1);
  }

  .share_it > p {
    font-size: 18px;
  }

  ol {
    font-size: 1rem;
    color: rgba(84, 55, 13, 1);
  }

  .list_beach p {
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 390px) {

  .right-footer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 130px;
  }

  .instagram {
    padding: 0px 6px;
  }

  h5 {
    font-size: 1.22rem;

  }

}


@media screen and (max-width: 335px) {

  .share_it {
    background-position-x: 3px;
  }

  .landing-section-articelone {
    padding: 94px 8px 80px 8px;
  }

}