* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 120%;
}

html {
  scroll-padding-top: 100px;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  height: 128px;
  width: 100%;
  background-color: rgba(78, 164, 135, 1);
  position: fixed;
  z-index: 3;
}

.header > a {
  margin-left: 146px;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: 72px;
  padding-left: 102px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav_text {
  position: relative;
  display: inline-block;
}

.hover-underline {
  display: block;
  position: absolute;
  opacity: 0;
  bottom: 46px;
  bottom: -4px;
  left: -5px;
}

.nav_text:hover .hover-underline {
  opacity: 1;
}

.nav-bar a:active {
  color: rgb(241, 201, 83);
}

.nav-bar a:active > .hover-underline {
  display: none;
}

h4 {
  padding-top: 208px;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgba(78, 164, 135, 1);
}

h1 {
  font-size: 4rem;
  color: rgba(241, 201, 83, 1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-section {
  height: 608px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 40px;
  padding-left: 120px;
}

.headline_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headline_text > p {
  font-size: 2rem;
  color: rgba(84, 55, 13, 1);
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
  margin-top: 208px;
  margin-right: 120px;
  padding: 16px;
  width: 300px;
  height: 400px;
}

.author > img {
  padding-bottom: 16px;
}

.author > h6 {
  font-size: 1.125rem;
  color: rgba(84, 55, 13, 1);
  text-align: center;
}

.text_author {
  font-size: 1.125rem;
  font-weight: 400;
  color: rgba(84, 55, 13, 1);
}

.author > p {
  color: rgba(84, 55, 13, 1);
  padding-top: 12px;
}

.infos {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.info_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.info_block > p {
  color: rgba(84, 55, 13, 1);
}

.calender > img {
  width: 16px;
  height: 18px;
}

.eyeglasses > img {
  width: 20px;
  height: 7px;
}

.calender > img {
  width: 20px;
  height: 14px;
}

.calender > img {
  width: 16px;
  height: 18px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h5 {
  font-size: 2rem;
  margin-top: 88px;
  color: rgba(84, 55, 13, 1);
}

.slider_b {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  margin: 64px 0px 88px -65px;
}

.slider_b_elemnet {
  z-index: 1;
  width: 300px;
  height: 100%;
  margin-right: -100px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: -9px 5px 20px 0px rgba(0, 0, 0, 0.25);
  transform: perspective(700px) rotateY(20deg) translateX(0px) scaleY(1);
  transform-origin: 50% 50%;
  transition: all 300ms ease-in-out;
}

.slider_b_elemnet > img {
  display: flex;
  object-fit: cover;
  object-position: -161px 0px;
  height: 100%;
  width: 100%;
}

.slider_b_elemnet:hover {
  transform: perspective(600px) rotateY(0deg) translateX(0px) scaleY(1.1) scaleX(1.1);
  margin-left: 140px;
  margin-right: 40px;
  z-index: 2;
}

.slider_b_elemnet:hover ~ .slider_b_elemnet {
  transform: perspective(600px) rotateY(-20deg) translateX(0px) scaley(1);
}

.beach4 > img {
  object-position: -210px 0px;
}

.beach3 > img {
  object-position: -30px 0px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 120px;
  width: 100%px;
  gap: 88px;
}

.article_text,
ol {
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 1);
}

.list_beach p {
  font-size: 1.5rem;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 40px;
}

.text_span {
  font-weight: 700;
}

.articles_one {
  width: 100%;
}

.list_beach {
  width: 1000px;
}

.beach_tipps > img {
  position: relative;
  right: 60px;
  top: 45px;
}

.beach_tipps ol {
  width: 1000px;
  padding: 26px 16px 24px 46px;
  background-color: rgba(78, 164, 135, 0.2);
  border-radius: 30px;
}

.articles_two {
  width: 100%;
}

.share_it {
  border: 1px black solid;
  width: 100%;
  height: 200px;
}

.footer {
  height: 152px;
  background-color: rgba(78, 164, 135, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}

.copyright {
  display: flex;
  align-items: center;
  width: 155px;
  color: white;
  gap: 4px;
  font-size: 18px;
}

.copyright > img {
  height: 20px;
}

.left-footer {
  display: flex;
  align-items: center;
  gap: 72px;
}

.left-footer > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.right-footer {
  display: flex;
  gap: 16px;
  align-items: center;
}



@media screen and (min-width: 1440px) {
  .landing-section {
    padding: 0px calc(50% - 720px);
  }

  .header {
    padding: 0px calc(50% - 720px);
  }

  .footer {
    padding: 0px calc(50% - 720px);
  }

  .header > a {
    margin-left: 20px;
  }
}