@font-face {
  font-display: swap;
  font-family: 'Arima';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/arima-v7-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Arima';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/arima-v7-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/palanquin-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/palanquin-v17-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/palanquin-v17-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/palanquin-dark-v17-latin-600.woff2') format('woff2');
}

.nav-bar,
h1,
h2,
h5 {
  font-family: "Arima";
}

h6 {
  font-family: "Arima";
}

h3 {
  font-family: "Palanquin Dark";
  font-weight: 600;
}

p,
h4 {
  font-family: "Palanquin";
}

.highlights-section p {
  font-family: "Palanquin";
  font-weight: 500;
}

.left-footer > a {
  font-family: "Palanquin";
}

summary {
  font-family: "Palanquin";
  font-weight: 700;
}

.accordion > p {
  font-family: "Palanquin";
  font-weight: 500;
}

input {
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 500;
}

label {
  font-family: "Palanquin";
  font-weight: 500;
}